@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
#body {
    min-height: 100vh;
    font-family: 'Cormorant Garamond', serif;
}

#body nav ul li a{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 1px;
	margin: 0px 20px;
}
#body nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
nav .nav-wrapper {
  	padding: 0px 50px;
}
nav a.brand-logo {
	font-size: 28px;
	margin-left: 10px;
	text-transform: uppercase;
	left: 90px;
}
nav .nav-wrapper ul li a:hover {
	color: black;
}
nav img {
 	height: 50px;
 	margin: 5px 0px;
}
#body footer ul.right {
	display: inline;
	margin: 0px auto;
}
#body footer ul.right li {
	display: inline;
	margin: 0px 10px;
	transition-duration: 0.5s;
	font-size: 18px;
}
#body footer ul.right li:hover {
	opacity: 0.5;
	cursor: pointer;
}
#body #indexContent {
	height: 100vh;
	width: auto;
	max-width: 100%;
}
#video-bg {
	position: fixed;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	z-index: -100;
	background: transparent url(video-bg.jpg) no-repeat;
	background-size: cover;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 990px) {
    #test {
        display: none;
    }
}
